<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!-- 驼峰命名规则 -->
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<!--<setting name="logImpl" value="STDOUT_LOGGING"/>--><!--加上这个配置可以在打印sql的同时在控制台打印查询结果-->
		<setting name="logImpl" value="LOG4J2" /><!--这个配置是在log4j无法在控制台打印出sql时加入的配置-->
	</settings>
	<typeAliases>
		<package name="com.jnhouse.app.bean" />
	</typeAliases>
	<plugins>
		<plugin interceptor="com.github.pagehelper.PageInterceptor">
		
		</plugin>
	</plugins>
</configuration>